* {
  /* border: 1px solid black; */
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 30%;
  margin: 1em;
  text-align: center;
}
input:focus {
  outline: none;
  border-bottom: 1px solid green;
}
span {
  color: #ccc;
}
/* Header */
header {
  background: #fff;
}

/* Plant */
main {
  background: #fff;
}
/* Calendar */

.calendar {
  background: #fff;
}
